/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
} */

.btnctn{
    padding-bottom: 10px;
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.knowmoreabtsatbutton{
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: red;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

.knowmoreabtsatbutton::before,
.knowmoreabtsatbutton::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

.knowmoreabtsatbutton::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    /* filter: brightness(0.8); */
}

.knowmoreabtsatbutton::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    /* filter: brightness(0.6); */
}

.knowmoreabtsatbutton span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

.knowmoreabtsatbutton:hover span {
    transform: translateX(0.15em);
}
