@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("/Images/submitbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subcontainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    a {
	position: relative;
	padding: 30px 60px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: rgb(7, 200, 7);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font: consolas;
	overflow: hidden;
    font-size: 3vw;
    height: 0vh;
    display: flex;
    align-items: center;
}

a span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #171618, #3bff3b);
	animation: hanimate1 2s linear infinite;
}


a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #171618, #3bff3b);
	animation: hanimate2 2s linear infinite;
	animation-delay: 1s;
}


a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #171618, #3bff3b);
	animation: hanimate3 2s linear infinite;
}


a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #171618, #3bff3b);
	animation: hanimate4 2s linear infinite;
	animation-delay: 1s;
}
    a:hover{
        color: white;
        background: linear-gradient(to left, #171618, #3bff3b);
        transition: .3 ease;
    }


    h1{
        margin: 0;
        color: white;
        font-size: 4vw;
    }
    button{
        width:15vw;
        padding: 10px;
        background-color: green;
        color: white;
        font-size: 1.2rem;
        border-radius: 20px;
    }
}

@keyframes hanimate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
@keyframes hanimate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}
@keyframes hanimate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes hanimate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
@media screen and (max-width: 426px){
    .subcontainer{
        button{
            width: 50vw;
            padding: 10px;
            font-size: 5vw;
        }
    }
}
