@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.formroot{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
    /* background: url("../assets/Sonu/bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.fcontainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 130vh;
  align-items: center;
  justify-content: center;
  background: transparent;
  /* background: url("../../public/GIF/gif2.gif");
  background-repeat: no-repeat;
  background-size: cover; */

}
.fimg{
  width: 40%;

  img{
    width: 100%;
    height: 100%;
  }
}

.car{
  width: 70%;
  height: 70%;
}
.formcontainer {
  position: relative;
  width: 50%;
  background:transparent;
  overflow: hidden;
  backdrop-filter: blur(5px);
  padding: 10px;
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;

  

  button {
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 40%;
    background: linear-gradient(90deg, #e40404, #f21e1e);
    color: #fff;
    margin-top: 20px;
    transition: opacity 0.3s;
    }
    
    button:hover {
    opacity: 0.8;
    }
    
    button:active {
    transform: scale(0.98);
    }

  
  input {
    position: relative;
    height: 2%;
    padding: 10px 0;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 1;
    border-bottom: 2px solid #8f8f8f;
  }
  input::placeholder{
    color: #fff;
  }
  input:focus {
    border-bottom: 2px solid #fff;
  }

}
.fbtn{
  width: 100%;
  text-align: center;
  height: 20%;
}
#logo{
  width: 40%;
}


.formcontainer form {
  position: relative;
  padding: 10px;
  background: transparent;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  row-gap: 4vh;
  /* margin-bottom: 15vh; */
  h1{
    margin: 0;
    text-transform: uppercase;
  }
  span{
    text-transform: uppercase;
    /* font-size: 2rem; */
    font-weight: bolder;
  }


}
.userinput{
  display: flex;
  justify-content: center;
  align-items: center;
}





.genderoption {
    width: 32%;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #8f8f8f;
    color: black;
    z-index: 3;
}
.yearoption {
    width: 32%;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #8f8f8f;
    color: black;
    z-index: 2;
}

.genderoption:focus {
    border: 2px solid #fff;
}
.domainoption {
    width: 32%;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #8f8f8f;
    color: black;
    z-index: 1;
    height: 2vh;
}

.domainoption:focus {
    border: 2px solid #fff;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.5em;
    text-align: center;

}

.qcontainer {
  width: 72%;
  height: 85%;
  /* background-color: #FFFFFF; */
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 30px rgba(66, 57, 238, .2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../assets/Sonu/qbg.avif'); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}
.qmain{
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.qcontain {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  height: 60%;
  
  
}

.question-block {
  display: flex;
      flex-direction: column;
      row-gap: 1vh;
      background: transparent;
      padding: 15px;
      box-shadow: 2px 6px 18px rgba(66, 57, 238, .3);
      border-radius: 15px;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      height: 100%;
      margin-bottom: 3vh;
      backdrop-filter: blur(10px);
      textarea {
        width: 100%;
        height: 60%;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 14px;
        outline: none;
        resize: vertical;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 5px;
        background: transparent;
        color: white;
      
      }
      
      textarea:focus {
        border-color: #8E2AE0;
        box-shadow: 0 0 10px rgba(142, 42, 224, 0.5);
      }
      textarea::placeholder{
        color: white;
      }
      h1{
        font-family: Calibri, sans-serif;
        color: rgba(30, 30, 30, 1);
        font-size: 2vw;
        text-align: center;
        color: white;
      }
      
}
.btn {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(-30deg, #3B02ED, #8E2AE0 55%);
  box-shadow: 2px 6px 16px rgba(66, 57, 238, .3);
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  cursor: pointer;
  transition: all .3s ease;
  
}

.btn:hover {
  background: linear-gradient(-30deg, #8E2AE0, #3B02ED 55%);
}

.btn:active {
  transform: scale(1.1);
}
.registerbtn {
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 40%;
    background: linear-gradient(90deg, #f10909, #ff2770);
    color: #fff;
    margin-top: 20px;
    transition: opacity 0.3s;
    }
    
.registerbtn:hover {
    opacity: 0.8;
    }
    
.registerbtn:active {
    transform: scale(0.98);
  }
.button-container {
      display: flex;
      justify-content: space-between;
      width: 80%;

      button {
        border: none;
        outline: none;
        padding: 10px;
        cursor: pointer;
        font-size: 0.9em;
        border-radius: 4px;
        font-weight: 600;
        width: 20%;
        background: linear-gradient(90deg, #6c0202, #6b0101, rgb(185, 5, 5));
        color: #fff;
        margin-top: 20px;
        transition: opacity 0.3s;
        }
        
        button:hover {
        opacity: 0.8;
        }
        button:active {
        transform: scale(0.98);
        }
    
  }
  .formreview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: white;
    background-position: center;
    /* background-color: black; */
    /* background: url('../assets/Sonu/fbg.jpg') no-repeat center center/cover; */
  }
  .finalview{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 60%;
    backdrop-filter: blur(5px);
  border-radius: 20px;
  }
  .details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    font-size: 1.3rem;
    /* background: url("../../public/GIF/giphy3.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
  
    h2{
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bolder;
    }
    strong{
      color: red;
    }
  
  }
  .btns{
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: linear-gradient(-30deg, #3B02ED, #8E2AE0 55%);
    box-shadow: 2px 6px 16px rgba(66, 57, 238, .3);
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
    transition: all .3s ease;
  }
  .btns:hover {
    background: linear-gradient(-30deg, #8E2AE0, #3B02ED 55%);
  }
  
  .btns:active {
    transform: scale(1.1);
  }
@media screen and (max-width : 426px) {
  .qcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
    top: 60%;
    padding: 0;
  }
  .qcontain{
    flex-direction: column;
    height: 80%;
  }
  .question-block{
    h1{
      font: 1em sans-serif;
    }
  }
  .button-container button{
    width: 30vw;
    height: 6vh;
  }
  .ques h1{
    font-size: 1rem;
  }
  .formroot{
    display: flex;
    flex-direction: column;
  }
  .fcontainer{
    width: 100vw;
    height: 125vh;
    align-items: center;
    /* background: black; */
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .formcontainer{
    /* background: url("../assets/Sonu/bg.jpg"); */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;

    form{
      backdrop-filter: blur(2px);
    }
  }
  #logo{
    width: 60%;
  }
  .formcontainer form{
    height: 75%;
    h1{
      font-size: 8vw;
    }
  }

  .formcontainer input{
    width: 80%;
  }
  .domainoption{
    width: 80%;
  }
  .yearoption{
    width: 80%;
  }
  .genderoption{
    width: 80%;
  }
  .userinput{
    width: 100%;
  }
  
  
  .car{
    display: none;
  }
  .finalview{
    width: 100%;
  }


}