.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
    z-index: 1000;
  }
  
  .overlay .spinner,
  .overlay .spinner:before,
  .overlay .spinner:after {
    border: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #fc1900;
    border-bottom: 10px solid white;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .overlay .spinner:before,
  .overlay .spinner:after {
    content: "";
  }
  
  .overlay .spinner {
    width: 100px;
    height: 100px;
    animation: SPINNER 5s linear infinite;
  }
  
  .overlay .spinner:before {
    width: 80px;
    height: 80px;
    animation: SPINNER 10s linear infinite;
  }
  
  .overlay .spinner:after {
    width: 60px;
    height: 60px;
    animation: SPINNER 5s linear infinite;
  }
  
  .overlay .label {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: LABEL 5s linear infinite;
  }
  
  @keyframes SPINNER {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes LABEL {
    0% {
      opacity: 1.0;
      transform: translate(-50%, -50%) scale(1.0);
    }
    5% {
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(0.5);
    }
    95% {
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      opacity: 1.0;
      transform: translate(-50%, -50%) scale(1.0);
    }
  }
  